@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------------RESET CSS------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --fundo-site: #FAFAFA;
    --verde: #9CAF88;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* ------------------CAIXA PESQUISAR------------------ */

body {
    overflow-x: hidden;
    background-color: var(--fundo-site);
}

header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 250px;
}

.inicio {
    display: flex;
    align-items: center;
    gap: 30px;
}

.caixa-pesquisar {
    background-color: #EAEAEA;
    width: 420px;
    height: 55px;

    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;

    border-radius: 30px;

    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15);
}

.caixa-pesquisar input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 15px;
    color: var(--preto);
    flex: 1;
}

.icone-pesquisa {
    width: 25px;
    cursor: pointer;
}

.perfil img {
    width: 45px;
    cursor: pointer;
}

/* ——————————————— MENU ——————————————— */
.menu {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.menu a {
    font-size: 34.5px;
    color: var(--preto);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Montserrat", regular;

}

.menu a:hover {
    color: var(--verde);
    transition: 0.5s;
}

.barra {
    width: 1px;
    height: 25px;
    background-color: var(--preto);
}

/* ------------------MENU HAMBURGUER------------------ */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

/* ------------------BANNER------------------ */

#black-friday {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* ------------------CARROSEL------------------ */

.perfumes img {
    width: 400px;
    border-radius: 20px;
    filter: contrast(1.05);
}

.titulo-colecao {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 200px;
}

.titulo-colecao h2 {
    font-size: 40px;
    font-family: "Montserrat", regular;
    text-transform: uppercase;
    color: var(--preto);
}

.titulo-colecao h2 span {
    border-bottom: 3px solid var(--verde);
    padding-bottom: 5px;
}

li {
    list-style: none;
}

.perfumes {

    margin: 0 auto;
    overflow: hidden;
}

.perfumes ul {
    display: flex;
    align-items: center;
    gap: 40px;
    animation: 20s infinite slide linear;
}

@keyframes slide {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-1760px);
    }
}

.perfumes::before,
.perfumes::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.perfumes::before {
    left: 0;
    background: linear-gradient(to right, #FAFAFA, transparent);
}

.perfumes::after {
    right: 0;
    background: linear-gradient(to left, #FAFAFA, transparent);
}

.perfumes {
    position: relative;
}

.perfumes ul:hover {
    animation-play-state: paused;
}

/* ------------------SOBRE A MARCA------------------ */

#sobre img {
    max-width: 450px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    justify-self: end;

    margin-top: 100px;
}

#sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 80px 0;
}

#sobre h2 {
    font-size: 40px;
    margin-bottom: 80px;
    margin-top: 100px;

    text-transform: uppercase;
    font-family: "Montserrat", regular;
}

#sobre h2 span {
    border-bottom: 3px solid var(--verde);
    padding-bottom: 5px;
}

#sobre p {
    font-size: 27px;
    line-height: 1.7;
    text-align: justify;

    font-family: "Montserrat", regular;
}

/* ------------------NOSSOS CURSOS------------------ */

#nossos-cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 0 100px 0;
}

.titulo-cursos {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 100px;
}

.titulo-cursos h2 {
    font-size: 40px;
    font-family: "Montserrat", regular;
    text-transform: uppercase;
    color: var(--preto);
}

.titulo-cursos h2 span {
    border-bottom: 3px solid var(--verde);
    padding-bottom: 5px;
}

.post-cursos {
    position: relative;
    display: block;
}

.post-cursos img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;

    transition: transform 0.5s;
}

.post-cursos img:hover {
    transform: scale(1.05);
}

.botao-inscrever {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    width: 70%;
    max-width: 250px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-family: "Montserrat", regular;

    background-color: var(--branco);
    color: var(--verde);

    transition: 0.5s;
}

.botao-inscrever:hover {
    background-color: #E2E2E2;
    color: var(--verde);
}

/* ------------------FORMULÁRIO------------------ */

.mulher-form img {
    width: 500px;
    display: block;
    border-radius: 20px;

    margin-left: 50px;
}

.titulo-form {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 100px;
}

.titulo-form h2 {
    font-size: 40px;
    font-family: "Montserrat", regular;
    text-transform: uppercase;

    color: var(--preto);
}

.titulo-form h2 span {
    border-bottom: 3px solid var(--verde);
    padding-bottom: 5px;
}

.form-caixa {
    background: #C9C9C9;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-self: center;

    margin-left: -185px;
}

.campo label,
.campo-descricao label {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;

    text-transform: uppercase;
    font-family: "Montserrat", regular;
}

.campo input {
    width: 100%;
    background: #EEEEEE;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;

    font-family: "Montserrat", regular;
}

.campo-descricao textarea {
    width: 100%;
    background: #EEEEEE;
    border: none;
    padding: 12px;
    border-radius: 5px;
    height: 100px;
    font-size: 15px;
    resize: none;

    font-family: "Montserrat", regular;
}

.botao-enviar {
    width: 100%;
    padding: 12px;
    background: #EEEEEE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 500;

    text-transform: uppercase;
    font-family: "Montserrat", regular;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #0000003A;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--verde);
}

#contato form button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 500ms;
}

#contato form button:hover {
    background-color: var(--verde);
}

/* --------------------HORÁRIOS DE FUNCIONAMENTO--------------- */

#horarios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 130px;
}

#horarios img {
    margin-top: 125px;
    max-width: 630px;

    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.conteudo_horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 130px;
}

.titulo-horarios h2 {
    font-family: "Montserrat", regular;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    border-bottom: 2px solid var(--verde);
    display: inline-block;
    padding-bottom: 5px;
}

table {
    font-family: "Montserrat", regular;
    font-size: 27px;
    line-height: 1.7;
}

td {
    padding: 4px 13px;
    text-align: left;
}

/* ------------------FOOTER------------------ */

footer {
    height: 230px;
    background-image: url(./img/footer.jpg);
    margin-top: 100px;
}

.roda-pe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 230px;
}

.caixa {
    margin-left: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;

}

.caixa input {
    padding: 12px 20px;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    background-color: rgba(205, 205, 205, 0.3);
    color: #CDCDCD;

    font-family: "Montserrat", regular;
    outline: none;
    font-size: 16px;
}

input::placeholder {
    color: #CDCDCD;
}

.caixa button {
    padding: 14px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #CDCDCD;
    color: var(--preto);

    cursor: pointer;
    font-family: "Montserrat", regular;
    transition: 0.5s;
}

.caixa button:hover {
    background-color: var(--branco);
}

.desconto {
    display: flex;
    color: var(--branco);
    font-size: 26px;
    text-transform: uppercase;

    font-family: "Montserrat", regular;
}

.redes-sociais {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.redes-sociais p {
    color: var(--branco);
    text-transform: uppercase;
    font-size: 26px;
    margin: 0px;

    font-family: "Montserrat", regular;
}

.icones-redes svg {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.icones-redes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icones-redes a {
    color: var(--branco);
}

.icones-redes a:hover {
    color: var(--verde);
}

.icones-redes svg:hover {
    transform: scale(1.1);
}

/* ------------------RESPONSIVIDADE------------------ */

@media screen and (max-width: 768px) {
    #sombra {
        background-color: rgba(0, 0, 0, 0.4);

        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);

        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        top: 0;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        position: absolute;
        top: 60px;
        right: 20px;
        z-index: 2;
        cursor: pointer;
    }

    #icone-barras,
    #icone-x,
    #menu_botao {
        width: 40px;
        background-color: transparent;
        border: none;
    }

    header {
        position: relative;
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: 0.5s;
    }

    .menu a {
        color: var(--branco);
    }

    .banner {
        background-position: 0 0;
    }

    .roda-pe {
        justify-content: center;
    }

    .redes-sociais {
        display: none;
    }

    .caixa-pesquisar {
        display: none;
    }

    /* ------------------SOBRE A MARCA TABLET------------------ */

    #sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 40px 20px;
    }

    #sobre h2 {
        order: 1;
        margin-bottom: 60px;
    }

    #sobre p {
        order: 2;
        max-width: 600px;
        line-height: 1.6;
    }

    #sobre img {
        order: 3;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 50px;
    }

    /* ------------------ NOSSOS CURSOS TABLET ------------------ */

    #nossos-cursos {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 40px 0 80px;
    }

    .titulo-cursos h2 {
        font-size: 32px;
    }

    .post-cursos {
        max-width: 420px;
        margin: 0 auto;
    }

    .botao-inscrever {
        bottom: 35px;
        font-size: 15px;
        padding: 10px 18px;
    }

    /* ------------------FORMULARIO TABLET------------------ */

    .form-caixa {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }

    .mulher-form img {
        width: 100%;
        margin: 0;
    }

    form {
        margin-left: 0;
        max-width: 100%;
        gap: 25px;
    }

    .campo input,
    .campo-descricao textarea {
        width: 100%;
    }

    .botao-enviar {
        width: 100%;
    }

    /* ------------------HORARIOS DE FUNCIONAMENTO TABLET------------------ */

    #horarios {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-bottom: 80px;
    }

    #horarios img {
        margin-top: 100px;
        width: 100%;
        max-width: 600px;
    }

    .conteudo_horarios {
        margin-top: 30px;
        align-items: center;
        text-align: center;
    }

    .titulo-horarios h2 {
        font-size: 26px;
        text-align: center;
    }

    table {
        font-size: 22px;
    }

    td {
        padding: 6px 10px;
        text-align: center;
    }
}